<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>FacebookAppID</key>
	<string>740837811282264</string>
	<key>FacebookClientToken</key>
	<string>af8ba1bbd03c75a2c700f63800df5fcc</string>
	<key>FacebookDisplayName</key>
	<string>Elixr-Connect</string>
	<key>LSapplication</key>
	<string></string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
